<html>
<div *ngIf="subjectList.length > 1"> <p>cross-listed</p>
  <h2 *ngFor="let sub of subjectList">{{ sub.name }} </h2> <h2> {{course.course_number}}: {{ course.course_name }}</h2>
</div>
<h2 *ngIf="subjectList.length === 1">{{ subject.name}} {{course.course_number}}: {{ course.course_name }}</h2>
<div>
  <h5>Course Info</h5>
  <span>Credits: </span> <span *ngIf="course.credits > 0">{{course.credits}}</span><br>
  <span>Description: {{course.description}}</span><br>
  <span>Prereq: {{course.prereq}}</span><br>
  <span *ngIf="course.ethnicStudies==true">Ethnic Studies: {{course.ethnicStudies}}<br></span>
  <span *ngFor="let gened of course.genEd">General Education: {{gened}}<br></span>
  <span>Breadth: </span><span *ngFor="let bre of course.breadth">{{bre}} </span><br>
  <span>Level: {{course.level}}</span><br>
  <span *ngIf="course.lasCredit==true">L&S Credit: {{course.lasCredit}}<br></span>
  <span>Typically Offered: </span><span *ngFor="let typical of course.typicallyOffered">{{typical}} </span><span *ngIf="course.typicallyOffered.length > 0"><br></span>
</div>
<div>
  <h5>Cumulative Grades</h5>
  <h6>Average GPA: {{averageGPA}}</h6>
  <table>
    <tr>
      <th>Total</th>
      <th>A count</th>
      <th>AB count</th>
      <th>B count</th>
      <th>BC count</th>
      <th>C count</th>
      <th>D count</th>
      <th>F count</th>
    </tr>
    <tr>
      <td>{{cumulative.total}}</td>
      <td>{{cumulative.aCount}}</td>
      <td>{{cumulative.abCount}}</td>
      <td>{{cumulative.bCount}}</td>
      <td>{{cumulative.bcCount}}</td>
      <td>{{cumulative.cCount}}</td>
      <td>{{cumulative.dCount}}</td>
      <td>{{cumulative.fCount}}</td>
    </tr>
  </table>
</div>
<ul class="reviews">
  <div *ngIf="reviewList.length > 0">
    <li *ngFor="let review of reviewList">
      <p> Difficulty Rating: {{review.difficulty_rating}}<br> Interest Rating: {{review.interest_rating}}
        <br> Review: {{review.review_text}}<br> Tips for Success: {{review.success_tips_text}}
        <br> Professor: {{review.professor}}<br> Date: {{review.date_posted}}</p>
    </li>
  </div>
  <p *ngIf="reviewList.length < 1"> There are no reviews yet </p>
</ul>
<button type="button" class="btn btn-med btn-outline-primary" (click)="onButtonClick()">Add a new review</button>
</html>
