<html>
<div *ngIf="subjectList.length > 1"> <p>cross-listed</p>
  <h2 *ngFor="let sub of subjectList">{{ sub.name }} </h2> <h2> {{course.course_number}}: {{ course.course_name }}</h2>
</div>
<h2 *ngIf="subjectList.length === 1">{{ subject.name}} {{course.course_number}}: {{ course.course_name }}</h2>
<div>
  <h5>Course Info</h5>
  <span>Credits: </span> <span *ngIf="course.credits > 0">{{course.credits}}</span><br>
  <span>Description: {{course.description}}</span><br>
  <span>Prereq: {{course.prereq}}</span><br>
  <span *ngIf="course.ethnicStudies==true">Ethnic Studies: {{course.ethnicStudies}}<br></span>
  <span *ngFor="let gened of course.genEd">General Education: {{gened}}<br></span>
  <span>Breadth: </span><span *ngFor="let bre of course.breadth">{{bre}} </span><br>
  <span>Level: {{course.level}}</span><br>
  <span *ngIf="course.lasCredit==true">L&S Credit: {{course.lasCredit}}<br></span>
  <span>Typically Offered: </span><span *ngFor="let typical of course.typicallyOffered">{{typical}} </span><span *ngIf="course.typicallyOffered.length > 0"><br></span>
  <form>
    <fieldset>
      <span><b>Filter grades by Professor</b></span>
      <p>
        <label>Select Professor</label>
        <select name="professor" id="professor" [(ngModel)]="selectedProfessor" (change)="selected()">
          <option *ngFor="let professor of instructorList">{{professor}}</option>
        </select>
      </p>
    </fieldset>
  </form>
  <span>You have selected {{selectedProfessor}}</span>
</div>
<div>
  <h5>Cumulative Grades</h5>
  <h6 *ngIf="selectedProfessor === undefined; else selectedProfGPA">Average GPA: {{averageGPA}}</h6>
  <ng-template #selectedProfGPA>
    <h6> Average GPA: {{selectedProfAvgGPA}}</h6>
  </ng-template>
  <table>
    <tr>
      <th>Total</th>
      <th>A count</th>
      <th>AB count</th>
      <th>B count</th>
      <th>BC count</th>
      <th>C count</th>
      <th>D count</th>
      <th>F count</th>
    </tr>
    <tr *ngIf="selectedProfessor === undefined; else selectedProf">
      <td>{{cumulative.total}}</td>
      <td>{{cumulative.aCount}}</td>
      <td>{{cumulative.abCount}}</td>
      <td>{{cumulative.bCount}}</td>
      <td>{{cumulative.bcCount}}</td>
      <td>{{cumulative.cCount}}</td>
      <td>{{cumulative.dCount}}</td>
      <td>{{cumulative.fCount}}</td>
    </tr>
    <ng-template #selectedProf>
      <tr>
        <td>{{selectedProfTotal}}</td>
        <td>{{selectedProfA}}</td>
        <td>{{selectedProfAB}}</td>
        <td>{{selectedProfB}}</td>
        <td>{{selectedProfBC}}</td>
        <td>{{selectedProfC}}</td>
        <td>{{selectedProfD}}</td>
        <td>{{selectedProfF}}</td>
      </tr>
    </ng-template>
  </table>
</div>
<div>
  <h5>Reviews</h5>
  <h6 *ngIf="selectedProfessor === undefined">Average Difficulty Rating: {{averageDifficultyRating / reviewList.length}}</h6>
  <h6 *ngIf="selectedProfessor !== undefined">Average Difficulty Rating: {{selectedDifficultyRating / selectedReviewList.length}}</h6>
  <h6 *ngIf="selectedProfessor === undefined">Average Interest Rating: {{averageInterestRating / reviewList.length}}</h6>
  <h6 *ngIf="selectedProfessor !== undefined">Average Interest Rating: {{selectedInterestRating / selectedReviewList.length}}</h6>
</div>
<ul class="reviews">
  <div *ngIf="reviewList.length > 0 && selectedProfessor === undefined">
    <li *ngFor="let review of reviewList">
      <p> Difficulty Rating: {{review.difficulty_rating}}<br> Interest Rating: {{review.interest_rating}}
        <br> Review: {{review.review_text}}<br> Tips for Success: {{review.success_tips_text}}
        <br> Professor: {{review.professor}}<br> Date: {{review.date_posted}}</p>
      <hr>
    </li>
  </div>
  <p *ngIf="reviewList.length < 1"> There are no reviews yet </p>
  <p *ngIf="reviewList.length > 0 && selectedReviewList.length < 1"> There are no reviews yet for this professor </p>
  <div *ngIf="reviewList.length > 0 && selectedProfessor !== undefined">
    <li *ngFor="let review of selectedReviewList">
      <p> Difficulty Rating: {{review.difficulty_rating}}<br> Interest Rating: {{review.interest_rating}}
        <br> Review: {{review.review_text}}<br> Tips for Success: {{review.success_tips_text}}
        <br> Professor: {{review.professor}}<br> Date: {{review.date_posted}}</p>
      <hr>
    </li>
  </div>
</ul>
<button type="button" class="btn btn-med btn-outline-primary" (click)="onButtonClick()">Add a new review</button>
</html>
